.card {
  position: relative;
  width: 180px;
  height: 300px;
  padding: 20px 10px;
  margin: 5px 40px 20px; }

.people-card {
  background-color: #edcd00;
  border: 6px outset #ffeb3b; }
  .people-card:hover {
    border: 6px inset #ffeb3b; }

.people-card .favorites {
  width: 35px;
  height: 35px;
  background-color: #edcd00;
  border: none; }

.card p {
  height: 30px; }

.bump-top,
.bump,
.bump-bottom {
  position: absolute;
  width: 13px;
  height: 40px;
  left: -19px;
  border: inherit;
  border-right: none;
  background-color: inherit; }

.bump {
  top: 149px; }

.bump-bottom {
  top: 250px; }

.bump-top {
  top: 50px; }
