.movie-info {
  position: relative;
  top: 110px;
  margin: 0;
  background-color: inherit;
  color: yellow;
  font-size: 3em;
  text-align: center; }

.scroll-container {
  font-family: 'legothickregular';
  color: yellow;
  position: relative;
  width: 100%;
  height: 350px;
  bottom: 0;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg); }
  .scroll-container:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 30%;
    background-image: linear-gradient(top, black 0%, transparent 100%);
    pointer-events: none; }

.scroll {
  position: absolute;
  top: 100%;
  animation: scroll 15s linear 4s infinite; }

@keyframes scroll {
  0% {
    top: 100%; }
  100% {
    top: -170%; } }
