.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // display: flex;
  // // overflow-x: scroll;
  // flex-wrap: wrap;
}

.loading-gif {
  border: 1px solid cornflowerblue;
  margin: auto;
  width: 500px;
  grid-column-start: 2;
  grid-column-end: 3;
}

@media screen and (max-width: 1140px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}