@font-face {
    font-family: 'legothickregular';
    src: url('../../assets/legothick-webfont.woff2') format('woff2'),
         url('../../assets/legothick-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

button {
  border: none;
  background-color: #000;
  &:hover{
    background-color: yellow;
    opacity: 0.6;
  }
}

.App {
  background-color: #000;
}
