.planet-card {
  background-color: #439138;
  border: 6px inset #51af55; }
  .planet-card:hover {
    border: 6px outset #51af55; }

.planet-card .favorites {
  background-color: #439138;
  border: none;
  height: 35px;
  width: 35px; }
